nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: dodgerblue;
}
.my-items{
    display: flex;
    list-style: none;
}